In [4]:
import pickle
enron_data = pickle.load(open("final_project/final_project_dataset.pkl", "r"))

In [5]:
len(enron_data)

146

In [19]:
len(enron_data.values()[0].keys())

21

In [21]:
import pandas as pd

In [31]:
df_enron = pd.DataFrame(enron_data.values(),enron_data.keys())

In [32]:
df_enron.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
METTS MARK,600000,NaN,NaN,NaN,mark.metts@enron.com,NaN,94299,29,38,1,...,NaN,1740,False,585062,NaN,365788,702,807,1061827,585062
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
ELLIOTT STEVEN,350000,NaN,-400729,NaN,steven.elliott@enron.com,4890344,78552,NaN,NaN,NaN,...,NaN,12961,False,1788391,NaN,170941,NaN,NaN,211725,6678735
CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850,NaN,12,10,0,...,NaN,NaN,False,386335,NaN,NaN,58,764,NaN,1038185
HANNON KEVIN P,1500000,NaN,-3117011,NaN,kevin.hannon@enron.com,5538001,34039,32,32,21,...,1617011,11350,True,853064,NaN,243293,1035,1045,288682,6391065

In [45]:
df_enron[df_enron['poi']==True].sum()

poi    18
dtype: int64

In [53]:
df_enron['Name'] = df_enron.index

In [48]:
df_enron.reset_index(level=0)

,index,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value,Name
0,METTS MARK,600000,NaN,NaN,NaN,mark.metts@enron.com,NaN,94299,29,38,...,1740,False,585062,NaN,365788,702,807,1061827,585062,METTS MARK
1,BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,...,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258,BAXTER JOHN C
2,ELLIOTT STEVEN,350000,NaN,-400729,NaN,steven.elliott@enron.com,4890344,78552,NaN,NaN,...,12961,False,1788391,NaN,170941,NaN,NaN,211725,6678735,ELLIOTT STEVEN
3,CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850,NaN,12,10,...,NaN,False,386335,NaN,NaN,58,764,NaN,1038185,CORDES WILLIAM R
4,HANNON KEVIN P,1500000,NaN,-3117011,NaN,kevin.hannon@enron.com,5538001,34039,32,32,...,11350,True,853064,NaN,243293,1035,1045,288682,6391065,HANNON KEVIN P
5,MORDAUNT KRISTINA M,325000,NaN,NaN,NaN,kristina.mordaunt@enron.com,NaN,35018,NaN,NaN,...,1411,False,208510,NaN,267093,NaN,NaN,628522,208510,MORDAUNT KRISTINA M
6,MEYER ROCKFORD G,NaN,1848227,NaN,NaN,rockford.meyer@enron.com,493489,NaN,28,0,...,NaN,False,462384,NaN,NaN,22,232,1848227,955873,MEYER ROCKFORD G
7,MCMAHON JEFFREY,2600000,NaN,NaN,NaN,jeffrey.mcmahon@enron.com,1104054,137108,48,58,...,297353,False,558801,NaN,370448,2228,2355,4099771,1662855,MCMAHON JEFFREY
8,HORTON STANLEY C,NaN,3131860,NaN,NaN,stanley.horton@enron.com,5210569,NaN,1073,44,...,NaN,False,2046079,NaN,NaN,1074,2350,3131860,7256648,HORTON STANLEY C
9,PIPER GREGORY F,400000,1130036,-33333,NaN,greg.piper@enron.com,880290,43057,222,61,...,778,False,409554,-409554,197091,742,1238,1737629,880290,PIPER GREGORY F
10,HUMPHREY GENE E,NaN,2964506,NaN,NaN,gene.humphrey@enron.com,2282768,4994,17,10,...,NaN,False,NaN,NaN,130724,119,128,3100224,2282768,HUMPHREY GENE E
11,UMANOFF ADAM S,788750,NaN,NaN,NaN,adam.umanoff@enron.com,NaN,53122,18,12,...,NaN,False,NaN,NaN,288589,41,111,1130461,NaN,UMANOFF ADAM S
12,BLACHMAN JEREMY M,850000,NaN,NaN,NaN,jeremy.blachman@enron.com,765313,84208,14,25,...,272,False,189041,NaN,248546,2326,2475,2014835,954354,BLACHMAN JEREMY M
13,SUNDE MARTIN,700000,NaN,NaN,NaN,marty.sunde@enron.com,NaN,NaN,38,37,...,111122,False,698920,NaN,257486,2565,2647,1545059,698920,SUNDE MARTIN
14,GIBBS DANA R,NaN,504610,NaN,NaN,dana.gibbs@enron.com,2218275,NaN,12,0,...,NaN,False,NaN,NaN,NaN,23,169,966522,2218275,GIBBS DANA R
15,LOWRY CHARLES P,NaN,NaN,NaN,NaN,NaN,372205,NaN,NaN,NaN,...,NaN,False,153686,-153686,NaN,NaN,NaN,NaN,372205,LOWRY CHARLES P
16,COLWELL WESLEY,1200000,27610,-144062,NaN,wes.colwell@enron.com,NaN,16514,40,240,...,101740,True,698242,NaN,288542,1132,1758,1490344,698242,COLWELL WESLEY
17,MULLER MARK S,1100000,842924,-719000,NaN,s..muller@enron.com,1056320,NaN,16,12,...,947,False,360528,NaN,251654,114,136,3202070,1416848,MULLER MARK S
18,JACKSON CHARLENE R,250000,NaN,NaN,NaN,charlene.jackson@enron.com,185063,10181,56,25,...,2435,False,540672,NaN,288558,117,258,551174,725735,JACKSON CHARLENE R
19,WESTFAHL RICHARD K,NaN,NaN,-10800,NaN,dick.westfahl@enron.com,NaN,51870,NaN,NaN,...,401130,False,384930,NaN,63744,NaN,NaN,762135,384930,WESTFAHL RICHARD K
20,WALTERS GARETH W,NaN,53625,NaN,NaN,NaN,1030329,33785,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,87410,1030329,WALTERS GARETH W
21,WALLS JR ROBERT H,850000,NaN,NaN,NaN,rob.walls@enron.com,4346544,50936,146,17,...,2,False,1552453,NaN,357091,215,671,1798780,5898997,WALLS JR ROBERT H
22,KITCHEN LOUISE,3100000,NaN,NaN,NaN,louise.kitchen@enron.com,81042,5774,1728,251,...,93925,False,466101,NaN,271442,3669,8305,3471141,547143,KITCHEN LOUISE
23,CHAN RONNIE,NaN,NaN,-98784,98784,NaN,NaN,NaN,NaN,NaN,...,NaN,False,32460,-32460,NaN,NaN,NaN,NaN,NaN,CHAN RONNIE
24,BELFER ROBERT,NaN,-102500,NaN,3285,NaN,3285,NaN,NaN,NaN,...,NaN,False,NaN,44093,NaN,NaN,NaN,102500,-44093,BELFER ROBERT
25,SHANKMAN JEFFREY A,2000000,NaN,NaN,NaN,jeffrey.shankman@enron.com,1441898,178979,2681,94,...,1191,False,630137,NaN,304110,1730,3221,3038702,2072035,SHANKMAN JEFFREY A
26,WODRASKA JOHN,NaN,NaN,NaN,NaN,john.wodraska@enron.com,NaN,NaN,NaN,NaN,...,189583,False,NaN,NaN,NaN,NaN,NaN,189583,NaN,WODRASKA JOHN
27,BERGSIEKER RICHARD P,250000,NaN,-485813,NaN,rick.bergsieker@enron.com,NaN,59175,59,4,...,427316,False,659249,NaN,187922,233,383,618850,659249,BERGSIEKER RICHARD P
28,URQUHART JOHN A,NaN,NaN,-36666,36666,NaN,NaN,228656,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,228656,NaN,URQUHART JOHN A
29,BIBI PHILIPPE A,1000000,NaN,NaN,NaN,philippe.bibi@enron.com,1465734,38559,40,23,...,425688,False,378082,NaN,213625,1336,1607,2047593,1843816,BIBI PHILIPPE A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,REYNOLDS LAWRENCE,100000,51365,-200000,NaN,NaN,4160672,8409,NaN,NaN,...,202052,False,201483,-140264,76399,NaN,NaN,394475,4221891,REYNOLDS LAWRENCE
117,DIMICHELE RICHARD G,1000000,NaN,NaN,NaN,richard.dimichele@enron.com,8191755,35812,NaN,NaN,...,374689,False,126027,NaN,262788,NaN,NaN,2368151,8317782,DIMICHELE RICHARD G
118,BHATNAGAR SANJAY,NaN,NaN,NaN,137864,sanjay.bhatnagar@enron.com,2604490,NaN,29,0,...,137864,False,-2604490,15456290,NaN,463,523,15456290,NaN,BHATNAGAR SANJAY
119,CARTER REBECCA C,300000,NaN,-159792,NaN,rebecca.carter@enron.com,NaN,NaN,15,29,...,540,False,307301,-307301,261809,196,312,477557,NaN,CARTER REBECCA C
120,BUCHANAN HAROLD G,500000,NaN,NaN,NaN,john.buchanan@enron.com,825464,600,125,0,...,1215,False,189041,NaN,248017,23,1088,1054637,1014505,BUCHANAN HAROLD G
121,YEAP SOON,NaN,NaN,NaN,NaN,NaN,192758,55097,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,55097,192758,YEAP SOON
122,MURRAY JULIA H,400000,NaN,NaN,NaN,julia.murray@enron.com,400478,57580,45,11,...,330,False,196983,NaN,229284,395,2192,812194,597461,MURRAY JULIA H
123,GARLAND C KEVIN,850000,NaN,NaN,NaN,kevin.garland@enron.com,636246,48405,44,10,...,60814,False,259907,NaN,231946,178,209,1566469,896153,GARLAND C KEVIN
124,DODSON KEITH,70000,NaN,NaN,NaN,keith.dodson@enron.com,NaN,28164,14,10,...,774,False,NaN,NaN,221003,114,176,319941,NaN,DODSON KEITH
125,YEAGER F SCOTT,NaN,NaN,NaN,NaN,scott.yeager@enron.com,8308552,53947,NaN,NaN,...,147950,True,3576206,NaN,158403,NaN,NaN,360300,11884758,YEAGER F SCOTT
126,HIRKO JOSEPH,NaN,10259,NaN,NaN,joe.hirko@enron.com,30766064,77978,NaN,NaN,...,2856,True,NaN,NaN,NaN,NaN,NaN,91093,30766064,HIRKO JOSEPH
127,DIETRICH JANET R,600000,NaN,NaN,NaN,janet.dietrich@enron.com,1550019,3475,63,305,...,473,False,315068,NaN,250100,1902,2572,1410464,1865087,DIETRICH JANET R
128,DERRICK JR. JAMES V,800000,NaN,-1284000,NaN,james.derrick@enron.com,8831913,51124,909,64,...,7482,False,1787380,-1787380,492375,1401,2181,550981,8831913,DERRICK JR. JAMES V
129,FREVERT MARK A,2000000,6426990,-3367011,NaN,mark.frevert@enron.com,10433518,86987,21,242,...,7427621,False,4188667,NaN,1060932,2979,3275,17252530,14622185,FREVERT MARK A
130,PAI LOU L,1000000,NaN,NaN,NaN,lou.pai@enron.com,15364167,32047,NaN,NaN,...,1829457,False,8453763,NaN,261879,NaN,NaN,3123383,23817930,PAI LOU L
131,BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,...,69,False,145796,-82782,239671,NaN,NaN,827696,63014,BAY FRANKLIN R
132,HAYSLETT RODERICK J,NaN,NaN,NaN,NaN,rod.hayslett@enron.com,NaN,NaN,1061,35,...,NaN,False,346663,NaN,NaN,571,2649,NaN,346663,HAYSLETT RODERICK J
133,FUGH JOHN L,NaN,50591,NaN,NaN,NaN,176378,NaN,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,50591,176378,FUGH JOHN L
134,FALLON JAMES B,2500000,NaN,NaN,NaN,jim.fallon@enron.com,940257,95924,75,42,...,401481,False,1392142,NaN,304588,1604,1755,3676340,2332399,FALLON JAMES B
135,KOENIG MARK E,700000,NaN,NaN,NaN,mark.koenig@enron.com,671737,127017,61,53,...,150458,True,1248318,NaN,309946,2271,2374,1587421,1920055,KOENIG MARK E
136,SAVAGE FRANK,NaN,NaN,-121284,125034,NaN,NaN,NaN,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,3750,NaN,SAVAGE FRANK
137,IZZO LAWRENCE L,NaN,NaN,NaN,NaN,larry.izzo@enron.com,2165172,28093,19,28,...,1553729,False,3654808,NaN,85274,437,496,1979596,5819980,IZZO LAWRENCE L
138,TILNEY ELIZABETH A,300000,NaN,-575000,NaN,elizabeth.tilney@enron.com,591250,NaN,19,10,...,152055,False,576792,NaN,247338,379,460,399393,1168042,TILNEY ELIZABETH A
139,MARTIN AMANDA K,NaN,85430,NaN,NaN,a..martin@enron.com,2070306,8211,230,8,...,2818454,False,NaN,NaN,349487,477,1522,8407016,2070306,MARTIN AMANDA K
140,BUY RICHARD B,900000,649584,-694862,NaN,rick.buy@enron.com,2542813,NaN,1053,156,...,400572,False,901657,NaN,330546,2333,3523,2355702,3444470,BUY RICHARD B
141,GRAMM WENDY L,NaN,NaN,NaN,119292,NaN,NaN,NaN,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,119292,NaN,GRAMM WENDY L
142,CAUSEY RICHARD A,1000000,NaN,-235000,NaN,richard.causey@enron.com,NaN,30674,49,58,...,307895,True,2502063,NaN,415189,1585,1892,1868758,2502063,CAUSEY RICHARD A
143,TAYLOR MITCHELL S,600000,227449,NaN,NaN,mitchell.taylor@enron.com,3181250,NaN,29,0,...,NaN,False,563798,NaN,265214,300,533,1092663,3745048,TAYLOR MITCHELL S
144,DONAHUE JR JEFFREY M,800000,NaN,-300000,NaN,jeff.donahue@enron.com,765920,96268,22,188,...,891,False,315068,NaN,278601,772,865,875760,1080988,DONAHUE JR JEFFREY M
145,GLISAN JR BEN F,600000,NaN,NaN,NaN,ben.glisan@enron.com,384728,125978,16,52,...,200308,True,393818,NaN,274975,874,873,1272284,778546,GLISAN JR BEN F

In [50]:
enron_data["PRENTICE JAMES"]["total_stock_value"]

1095040

In [58]:
df_enron[df_enron['Name'] == "PRENTICE JAMES"].total_stock_value

PRENTICE JAMES    1095040
Name: total_stock_value, dtype: object

1. Cross validation: kfold, stratified kfold

2. Gridsearch Cv for parameter tuning

In [ ]:
parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10]}
svr = svm.SVC()
clf = grid_search.GridSearchCV(svr, parameters)
clf.fit(iris.data, iris.target)